<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Appccelerate.EvaluationEngine" version="2.1.0" targetFramework="portable-net45+win" />
  <package id="Appccelerate.Fundamentals" version="2.1.0" targetFramework="portable-net45+win" />
  <package id="Appccelerate.StateMachine" version="2.1.0" targetFramework="portable-net45+win" />
</packages>